<!DOCTYPE html>
<html>
<head>
  <title>GeoResist</title>
</head>
<body>

<h2>Register</h2>

<input id="name" placeholder="Name">
<input id="email" placeholder="Email">
<input id="password" type="password" placeholder="Password">

<button onclick="register()">Register</button>

<h2>Login</h2>

<input id="loginEmail" placeholder="Email">
<input id="loginPassword" type="password" placeholder="Password">

<button onclick="login()">Login</button>

<script src="/static/app.js"></script>

</body>
</html>